<!DOCTYPE html>
<html lang="en">
<head>
	https://icons.veryicon.com/png/o/miscellaneous/mirror-icon/github-65.png

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<div class="relative mx-auto" style="width: 36.5rem; height: 27rem;">
		<div class="absolute w-full h-full" style="will-change: transform; opacity: 1; transform: none;">
			<div class="absolute w-full h-full">
				<img alt="Folder background" width="584" height="432" decoding="async" data-nimg="1" class="w-full h-full" src="/images/folder.svg" style="color: transparent; object-fit: contain;">
			</div>
			


			<div class="absolute w-full px-4" style="padding-top: 2.8125rem; height: 24.75rem; will-change: transform; transform: none;">
				<a class="block w-full mx-auto" href="/projects/linkedin">
					<div class="w-full h-full relative">
						<img alt="Mockup of the project titled &quot;Linkedin Brand Kit&quot;" loading="eager" width="525" height="390" decoding="async" data-nimg="1" class="w-full h-full object-contain" src="/images/projectCard/linkedin.svg" style="color: transparent;">
					</div>
				</a>
			</div>


			
			<div class="absolute bottom-[0] w-full z-10" style="transform-origin: center bottom; perspective: 1000px; transform-style: preserve-3d; will-change: transform; transform: rotateX(0.244671deg);">
				<img alt="Folder front" width="584" height="300" decoding="async" data-nimg="1" class="w-full h-auto" src="/images/folderFront.svg" style="color: transparent;">
			</div>
		</div>
	</div>
</body>
</html>