.footer{
	color: var(--color-primary);
	padding: 10px;

	ul{
			display: flex;
			justify-content: center;
			gap: 5px;
			user-select: none;

			li{
				transition: 0.4s;
				&:hover{
					border-bottom: 1px dashed;
				}
			}
	}
}